In [2]:
import pandas as pd
import locale

In [3]:
budget = pd.read_csv ("D:/Hunter Craig/DU/python-challenge/Pybank/budget_data.csv")

In [4]:
budget.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [5]:
Total_Months = len(budget)
print ("Total Months", "=", Total_Months)

Total Months = 86

In [6]:
Total= 0
for i in range(len(budget)):
    Total = (budget['Profit/Losses'][i])+ Total
print(Total)

22564198

In [7]:
df= budget
df['shift'] = df['Profit/Losses'].shift(1)
df['diff'] = df['Profit/Losses'] - df['shift']
round(df['diff'].mean(), 2)

-8311.11

In [8]:
big_diff = 0
month = 0
for i in range(len(budget)):
    if big_diff < (budget['diff'][i]):
        big_diff = (budget['diff'][i])
        month = budget['Date'][i]
print(month, '$',(int(big_diff)))

Aug-16 $ 1862002

In [9]:
lil_diff = 0
lil_month = 0
for i in range(len(budget)):
    if lil_diff > (budget['diff'][i]):
        lil_diff = (budget['diff'][i])
        lil_month = budget['Date'][i]
print(lil_month, '$',(int(lil_diff)))

Feb-14 $ -1825558

In [47]:
%%capture cap --no-stderr


print("Financial Analysis")
print('---------------------')
print("Total Months:", Total_Months)
print("Total: $", Total)
print("Average Change: $",(round(df['diff'].mean(), 2)))
print("Greatest Increase in Profits: ",month, '    $',(int(big_diff)))
print('Greatest Decrease in Profits: ',lil_month, '    $',(int(lil_diff)))

In [49]:
print("Financial Analysis")
print('---------------------')
print("Total Months:", Total_Months)
print("Total: $", Total)
print("Average Change: $",(round(df['diff'].mean(), 2)))
print("Greatest Increase in Profits: ",month, '    $',(int(big_diff)))
print('Greatest Decrease in Profits: ',lil_month, '    $',(int(lil_diff)))

Financial Analysis
---------------------
Total Months: 86
Total: $ 22564198
Average Change: $ -8311.11
Greatest Increase in Profits:  Aug-16     $ 1862002
Greatest Decrease in Profits:  Feb-14     $ -1825558

In [50]:
with open('budget.txt', 'w') as f:
    f.write(cap.stdout)